# Copy to study2_alliance.env and edit every placeholder before submitting jobs.

ALLIANCE_ACCOUNT=def-yourpi
STUDY2_MODULES="StdEnv/2023 python/3.11 scipy-stack freesurfer"

STUDY2_REPO_ROOT=/project/def-yourpi/$USER/EEG_fMRI_Pipeline
STUDY2_VENV=/project/def-yourpi/$USER/venvs/eeg_fmri_study2

STUDY2_BIDS_EEG_ROOT=/project/def-yourpi/$USER/EEG_fMRI_data/bids_output/eeg
STUDY2_BIDS_MRI_ROOT=/project/def-yourpi/$USER/EEG_fMRI_data/bids_output/fmri
STUDY2_DERIV_ROOT=/project/def-yourpi/$USER/EEG_fMRI_data/derivatives
STUDY2_SUBJECTS_DIR=/scratch/$USER/study2_freesurfer_subjects
STUDY2_FS_LICENSE=/project/def-yourpi/$USER/licenses/freesurfer/license.txt

STUDY2_SUBJECTS_FILE=/project/def-yourpi/$USER/EEG_fMRI_Pipeline/studies/pain_study/study2/alliance/subjects_study2.txt
STUDY2_CONFIG=/project/def-yourpi/$USER/EEG_fMRI_Pipeline/studies/pain_study/study2/config/study2_config.yaml
STUDY2_TASK=thermalactive
STUDY2_EEG_BIDS_RUN=

STUDY2_RECON_ARRAY_LIMIT=8
STUDY2_BEM_ARRAY_LIMIT=8
STUDY2_SOURCE_POWER_ARRAY_LIMIT=2

STUDY2_ADJACENCY_SUBJECT=sub-0000
STUDY2_EXPECTED_VERTICES=8186
